<tr id="fila_{{element.id}}">
	<td >{{element.id}}</td>
	<td >{{element.nombre}}</td>
    <td >{{element.fuente.nombre}}</td>
    <td >{%if element.acceso is not null%}{{element.acceso.nombre}}{%else%}-{%endif%}</td>
    <td class="hidden-phone">{{element.user.name}}</td>
	<td class="hidden-phone">{{element.created.format('d/m/Y H:i:s')}}</td>
	<td class="hidden-phone">{{element.updated.format('d/m/Y H:i:s')}}</td>
    {% include 'ProjectBackBundle:Helpers:listado-edit-delete.html.twig'  with {'tipo':nombreClase,'rutaEditar':'project_back_parser_'~nombreRuta~'_edit'}  %}
</tr>