{% if pageCount > 1 %}

<ul>
    <li class="prev {% if previous is not defined %}disabled{%endif%}">
        <a href="{% if previous is not defined %}#{%else%}
        {{ path(route, query|merge({(pageParameterName): previous})) }} 
        {%endif%}
        ">
        <i class="icon-double-angle-left"></i>
        </a>
    </li>

    {% for page in pagesInRange %}
     
        <li {% if page == current %}class="active"{%endif%}>

        <a href="{% if page == current %}#{%else%}{{ path(route, query|merge({(pageParameterName): page})) }}
        {%endif%}
        ">{{ page }}</a>
        </li>
    {% endfor %}


    <li class="next" {% if next is not defined %}disabled{%endif%} >
        <a href="{% if next is not defined %}#{%else%}
        {{ path(route, query|merge({(pageParameterName): next})) }} 
        {%endif%}
        "><i class="icon-double-angle-right"></i></a>
    </li>
</ul>
{#<div class="pagination">
    {% if first is defined and current != first %}
        <span class="first">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
        </span>
    {% endif %}

    {% if previous is defined %}
        <span class="previous">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
        </span>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </span>
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <span class="next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
        </span>
    {% endif %}

    {% if last is defined and current != last %}
        <span class="last">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
        </span>
    {% endif %}
</div>
#}
{% endif %}