<tr id="fila_{{element.id}}">
	<td >{{element.id}}</td>
  <td >{{element.titulo}}</td>
  <td class="hidden-phone"><img alt="150x150" src="{{ element.getWebPath | apply_filter('payment') }}"  /></td> 
  <td >
   {%if element.bookieId==2%}10Bet
   {%elseif element.bookieId==60%}888Casino
   {%elseif element.bookieId==3%}888Sport
   {%elseif element.bookieId==39%}Bet At Home
   {%elseif element.bookieId==7%}Bet24
   {%elseif element.bookieId==56%}Bet3000
   {%elseif element.bookieId==8%}Bet365
   {%endif%}
  </td>
  <td >{{element.step}}</td>  
  {% include 'ProjectBackBundle:Helpers:listado-edit-delete-basico.html.twig'  with {'tipo':nombreClase,'rutaEditar':'project_back_'~nombreRuta~'_edit'}  %}
</tr>