<li>
	<a href="{{asset(''~ element.getWebPath ~'')}}" data-rel="colorbox"> <img alt="150x150" src="{{ element.getWebPath | apply_filter('galeria') }}" width="150" height="150" />
	<div class="text">
		<div class="inner">
			{{element.nombre}}
		</div>
	</div> </a>
	<div class="tools tools-bottom" tipo="{{nombreClase}}" objeto="{{element.id}}">

		<a href="{{path('project_back_parser_'~nombreRuta~'_edit',{'id':element.id})}}"> <i class="icon-pencil"></i> </a>

		<a href="javascript:void(0)" class="borrar-galeria"> <i class="icon-remove red"></i> </a>
	</div>
</li>